.listing {
  overflow-x: hidden;
  overflow-y: scroll;
  max-height: 170px;
}
.online {
  border-bottom: 1px solid;
  margin-bottom: 5px;
  padding-bottom: 5px;
  font-size: 14px;
}
.online span {
  font-weight: 500;
  color: green;
}
